ul {
  list-style: none;
}

li {
  position: relative;
  padding: 10px;
}

li:first-child:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 0;
  left: -16.8px;
  top: 45%;
  transform: translateY(-40%);
}

li:last-child:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 0;
  left: -16.8px;
  top: 45%;
  transform: translateY(-40%);
}

li:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #009ee0;
  position: absolute;
  left: -10px;
  top: 45%;
  transform: translateY(-40%);
}
li.land:after {
  background: red;
}

li:after {
  content: '';
  width: 2px;
  padding-top: 0%;
  padding-bottom: 0%;
  height: 45%;
  background: #009ee0;
  position: absolute;
  left: -8px;
  top: 80%;
}

li:last-child:after {
  content: '';
  display: none;
}
