.bg-blue {
  background-color: rgb(31, 85, 108);
}

.bg-red {
  background-color: rgb(108, 31, 31);
}

.bg-blue-opaque {
  background-color: rgba(31, 85, 108, 0.6);
}

.bg-light-opaque {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-white {
  color: white;
}
