<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" href="layout.css">
<link rel="stylesheet" href="colors.css">
<link rel="stylesheet" href="bulletList.css">
<link rel="stylesheet" href="inputStyles.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<div class='search margin-top'>
  <div class='row bg-blue-opaque padding'>
    <div class="column spacer"></div>
    <div class='column'>
      <img src="images/logo.png" alt="logo">
    </div>
    <div class='column'>
      <input type="text" id="from" value="RYG" />
      <input type="text" id="to" value="TAY" />
      <button type="button" id="query">Submit</button>
    </div>
    <div class="column spacer"></div>
  </div>
</div>

<div id="results" class="hidden">
  <div class="row bg-light-opaque">
    <div class="column">
      <ul id="stops">
      </ul>
    </div>
  </div>


  <div class="row bg-blue text-white">
    <div class="column">
      <div>
        <span>Total length of the journey is</span>
        <span id="totalLength"></span>
        <span>km</span>
        <span>in</span>
        <span id="stopsCount">4</span>
        <span>stops</span>
      </div>
    </div>
  </div>

</div>
<div id="error" class="row bg-red text-white hidden">
  <div class="column">
    <div id="errorMessage">error
    </div>
  </div>
</div>

<script src="script.js"></script>
