input {
  border:none;
  background-color: white;
  color: black !important;
  text-align: center;
  margin-top: 1rem;
  height: 3rem;
  width: 16rem;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 1em;
  color:#c2c2c2;
}

button{
  border:none;
  margin:auto;
  background-color:#009ee0;
  color:white;
  font-weight: bold;
  font-size: 0.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left:2em;
  padding-right:2em;
}
