html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  display: inline;
}

body {
  padding: 0;
  font: 600;
  font-size: 24px;
  font-family: "Heebo";
  color: rgb(31, 85, 108);
  line-height: 1.2;
  overflow-x: hidden;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  height: 2em;
  width: 100%;
  z-index: 1000;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
}

@media screen and (max-width: 800px) {
  .spacer {
    display: none;
  }
}

.padding {
  padding: 1em;
}

.margin-top {
  margin-top: 2em;
}

.hidden {
  display: none;
}
